.el-pagination {
  text-align: center;
  margin-top: 20px;
}

.el-table td{
  padding: 9px 0;
}

.el-table th{
  background-color: #ECF1F8;color: #505050;
}

.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
  border-right: 1px solid #E8E8E8;
}